.success {
  margin-top: 300px;
  text-align: center;

  h3 {
    font-size: 24px;
    color: #454C66;
    font-weight: 600;
  }

  p {
    font-size: 16px;
    color: #747A88;
    line-height: 28px;
  }
}
