<div class="main">
  <div class="container">
    <div class="signup-content">
      <div class="signup-img">
        <!-- <img class="bg" src="../../../assets/images/Group 44.svg" alt="" /> -->
        <div class="caption">
          <img src="../../../assets/images/logo.svg" />
          <h4>
            Few clicks away <br />
            from creating your <br />
            business
          </h4>
          <p>Start your business in minutes. save time and money</p>
        </div>
      </div>
      <div class="signup-form">
        <div class="get-help">
          <h2>Having troubles? <b> Get Help </b></h2>
        </div>
        <form class="register-form" id="register-form">
          <div class="back" routerLink="">
            <i class="bi bi-arrow-left"></i>
          </div>
          <h3>Choose the type of business</h3>
          <p>
            To get start tell us what type of Business you are going to <br />
            incorporate and name
          </p>
          <div class="row">
            <div class="col-md-12">
              <div class="form-input">
                <label for="type" class="required">Business Type</label>
                <input
                  type="text"
                  name="type"
                  id="type"
                  placeholder="Glamera"
                />
              </div>
            </div>
          </div>

          <div class="row type">
            <h3>Business Type</h3>
            <div class="col-md-3" *ngFor="let type of types; let i = index">
              <div class="form-input">
                <div class="container-input-img">
                  <img
                    class="input-img"
                    [src]="type.img"
                    (click)="selelctItem(type.name)"
                    [ngClass]="selectedName.includes(type.name) ? 'active' : ''"
                  />
                  <p>{{ type.name }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-input">
                <label for="Governorate" class="required">Governorate</label>
                <select>
                  <option>Select Governorate</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-groupt">
                <div class="form-input">
                  <label for="district" class="required">Select district</label>
                  <select>
                    <option>Select district</option>
                  </select>
                  <span class="select-icon"
                    ><i class="zmdi zmdi-chevron-down"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-input">
                <label for="know-us" class="required"
                  >How did you know us?</label
                >
                <select>
                  <option>Select one</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-radio">
                <label
                  for="currently"
                  class="radio-label"
                  style="font-size: 14px"
                >
                  <span>
                    <div class="help-text">
                      Do you have any system to run a your business other than
                      Glamera?
                    </div>
                    Are you currently using system ?
                    <i class="bi bi-question-circle help"></i>
                  </span>
                </label>
                <div class="form-radio-item">
                  <input type="radio" name="currently" id="yes" checked="" />
                  <label for="yes">Yes</label>
                  <span class="check"></span>
                </div>
                <div class="form-radio-item">
                  <input type="radio" name="currently" id="no" />
                  <label for="no">No</label>
                  <span class="check"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row footer-form">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <div class="btn-form">
                <button type="button" routerLink="/success">
                  CREATE ACCOUNT <i class="bi bi-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
